## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

## allow prettier and webpack
!*.config.js
!.prettierrc.js

#package lock files
package-lock.json

#runtimeconfig
.runtimeconfig.json

.env
